@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 200px;
    width: 200px;
    perspective: 1000px;
    font-family: 'Roboto';
}

.card-inside{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-face1{
    background-color: orange;
}

.card-face2{
    background-color: purple;
    transform: rotateY(180deg);
}

.card-face1, .card-face2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}